<form method="post" action="http://localhost:8080" enctype="multipart/form-data">
	<div>
		<label for="name">Type Name</label>
		<input type="text" id="name" name="name">
	</div>
  <div>
		<label for="age">Type Age</label>
		<input type="number" id="age" name="age">
	</div>
  <div>
		<label for="textt">Type text</label>
		<textarea name="multi-line" id="textt" cols="30" rows="10"></textarea>
	</div>
  <div>
    <label for="file1">Choose a file</label>
    <input type="file" id="file1" name="myFile1">
  </div>
  <div>
    <label for="file2">Choose a file</label>
    <input type="file" id="file2" name="myFile2">
  </div>
  <div>
    <button>Send the file</button>
  </div>
</form>
